#git lfs .dll HoloToolkit
*.dll filter=lfs diff=lfs merge=lfs -text
#git lfs cartella screenshots
Misc/**/* filter=lfs diff=lfs merge=lfs -text
#git lfs models
HoloLearn-Unity/Assets/Models/**/*.obj filter=lfs diff=lfs merge=lfs -text
HoloLearn-Unity/Assets/Models/**/*.fbx filter=lfs diff=lfs merge=lfs -text
#git lfs textures
HoloLearn-Unity/Assets/Textures/**/*.jpg filter=lfs diff=lfs merge=lfs -text
HoloLearn-Unity/Assets/Textures/**/*.png filter=lfs diff=lfs merge=lfs -text
HoloLearn-Unity/Assets/Textures/**/*.tga filter=lfs diff=lfs merge=lfs -text
#git lfs audio
HoloLearn-Unity/Assets/Audio/**/*.wav filter=lfs diff=lfs merge=lfs -text
