{*.dll,*.pdb,Jump.wav,ShakingHeadNo.wav,screen1.jpg,screen2.jpg,screen3.jpg,screen4.jpg,screen5.jpg,screen6.jpg,CrumpledPaper.obj,DefaultRoom.obj,GreatRoom.obj,Teaspoon.obj,Tablespoon.obj,Knife.obj,Fork.obj,Plate.obj,GlassBottle.obj,Minion@Shaking Head No.fbx,Minion@Pointing.fbx,Minion@Walking.fbx,Minion@Jumping.fbx,Minion@Idle.fbx,RubbishBin.fbx,Glass_3.fbx,Glass_2.fbx,Glass_1.fbx,Cup_3.fbx,Cup_2.fbx,Cup_1.fbx,Can.fbx,WaterBottle.fbx,Minion.fbx,Buttons.FBX,rubbish_bin_Glass.tga,rubbish_bin_Plastic.tga,rubbish_bin_Paper.tga,PaperTexture2.jpg,PaperTexture1.jpg,SpaReine002.png,fanta.png,coke.png,MinionTexture.png,ButtonIconSample.png,PanelBackground.png,Button_default.png,Button_disabled.png,Button_down.png,Button_focus.png,Button_selected.png,Button_selectedDisabled.png,Button_selectedDown.png,Button_selectedFocus.png} filter=lfs diff=lfs merge=lfs -text